<form class="basic_form" action="/signup" method="post">
  <h3 class="form_head">Sign Up</h3>
  <div class="field">
    <label for="username">Username</label><br>
    <input id="username" type="text" name="username", value=<%= @user.username %>>
  </div>
  <div class="field">
    <label for="email">Email</label><br>
    <input id="email" type="email" name="email", value=<%= @user.email %>>
  </div>
  <div class="field">
    <label for="password">Password</label><br>
    <input id="password" type="password" name="password">
  </div>
  <input type="submit" value="Create Account">
</form>

<br>
<a class="back_link" href="/">Go back to main page</a>
