<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Manager</title>
</head>
<body>
  <% if flash.has?(:message) %>
    <h2><%= flash[:message] %></h2>
  <% end %>
  <%= yield %>
</body>
</html>