<form class="basic_form" action="/accounts/<%= @account.id %>" method="post">
  <h3 class="form_head">Edit Account Form</h3>

  <input type="hidden" id="hidden" name="_method" value="patch">

  <div class="field">
    <label for="name">Name: </label><br>
    <input id="name" type="text" name="name" value="<%= @account.name %>">
  </div>
  <div class="field">
    <label for="balance">Balance: </label><br>
    <input id="balance" type="number" step="0.01" name="balance" value=<%= @account.balance %>>
  </div>
  <input type="submit" value="Edit Account">
</form>

<br>
<a class="back_link" href="/accounts/<%=@account.id%>">Go back to account details page</a>