<form class="basic_form" action="/accounts" method="post">
  <h3 class="form_head">New Account Form</h3>

  <div class="field">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name"><br>
  </div>
  <div class="field">
    <label for="balance">Balance: </label>
    <input id="balance" type="number" step="0.01" name="balance"><br>
  </div>
  <input type="submit" value="Create New Account">
</form>

<br>
<a class="back_link" href="/accounts">Go to all accounts</a>